@using MvcPlayground.Models.Framework
@using MvcPlayground.Models.Product

@inherits System.Web.Mvc.LocalizableWebViewPage

@{
    var product = (Product)((dynamic)Model).Product;
    var instance = (ModuleInstance)((dynamic)Model).Instance;
}

<h1>This is a @product.ProductId (from module @instance.Module.Name)</h1>
